.list-container {
  flex: 1;
  min-width: 300px;
  background-color: #e5f7fd;
  border: 1px solid #ddd;
  min-width: 250px;
  max-width: 350px;
  border-radius: 1rem;
  padding: 16px;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
}

.list-container h2 {
  margin-top: 0;
  text-align: center;
  font-size: 1.2rem;
}

.list-scroll-container {
  flex: 1;
  overflow-y: auto;
  margin-top: 10px;
  padding-right: 6px;
}

.empty-text {
  text-align: center;
  font-style: italic;
  color: #666;
}
